<footer class="site-footer">
	<div class="wrapper">
		<h2 class="footer-heading">
			<a href="https://github.com/bksteiny" target="_blank" style="text-decoration: none">
				<img height="30" width="30" src="/images/github.svg"></img></a> | 
			<a href="https://linkedin.com/in/cdstein" target="_blank" style="text-decoration: none">
				<img height="40" width="40" src="/images/linkedin.svg"></img></a> | 
			<a href="{{ "/feed.xml" | relative_url }}" target="_blank" style="text-decoration: none">
				<img height="30" width="30" src="/images/rss.svg"></a>
		</h2>
			<div class="footer-col-wrapper">
		     	<div class="footer-col footer-col-1">
		     </div>
	</div>
</footer>